body {
    width: 640px;
    background: #f3f0eb;
}

div.header-container {
    align-items: center;
    margin-bottom: 15px;
}

h2 {
    display: inline;
    margin: 0;
}

#openOptions {
    position: absolute;
    top: 7px;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

#openOptions svg {
    width: 30px;
    height: 30px;
}

div.container {
    display: flex;
    column-gap: 10px;
}

div.container > div.left {
    flex: 1;
}

div.container > div.middle {
    flex: 1;
}

div.container > div.right {
    flex: 1;
}
.button-container {
    position: relative;
}
.new-tab-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid #343e48;
    border-radius: 10px;
    cursor: pointer;
}
.new-tab-button svg {
    height: 26px;
    width: 21px;
    fill: #343e48;
}
.new-tab-button:hover {
    background-color: #ed2024;
    background-image: linear-gradient(45deg,#ed2024,#ff8f1c)
}
.new-tab-button:hover svg {
    fill: white;
}
.dev-button {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #343e48;
    border-radius: 10px;
    padding: 3px 0 0;
    cursor: pointer;
}
.dev-button:disabled{
    background-color: unset;
    color: #909090;
    border-color: #909090;
    cursor: unset;
}
.dev-button:hover:not([disabled]) {
     background-color: #E6001F;
 }
.dev-button svg {
    height: 25px;
    width: 30px;
}
.tool-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 2rem;
    width: 100%;
    cursor: pointer;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #343e48;
    color: white;
    font-weight: 800;
    border: 2px solid #343e48;
}

a.tool-button {
    height: 31px;
}

a.tool-button[href='#'] {
    display: none;
}

.tool-button:hover:not([disabled]) {
    box-shadow: 0px 0px 6px #FF8F1C;
    color: #FF8F1C;
}

.tool-button:disabled {
    background-color: unset;
    color: #909090;
    border-color: #909090;
    cursor: unset;
}

.tool-button:disabled + .new-tab-button{
    background-color: unset;
    background-image: unset;
    border-color: #909090;
    cursor: unset;
}
.tool-button:disabled + .new-tab-button svg{
    fill: #909090;
}

.button-container .tool-button {
    padding-right: 36px;
}

.-mode-admin:disabled,
.-mode-developer:disabled {
    display: none;
}
